<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form method="POST" action="login_user">
        <div>
            <input type="text" placeholder="Введите логин">
        </div>
        <div>
            <input type="text" placeholder="Введите пароль">
        </div>
        <div>
            <button type="submit">Ок</button>
        </div>
        
    </form>
</body>
</html>